<div class="auth-container">
  <!-- Colonne de Gauche -->
  <div class="auth-left">
    <div class="auth-left__content">
      <!-- Logo -->
      <div class="auth-logo">
        <img src="assets/logos/logo.e2d1b831.svg" alt="Kupanga Logo">
      </div>

      <!-- Proposition de Valeur -->
      <div class="auth-value-prop">
        <h2>Gérez vos biens en toute simplicité</h2>
        <p>Kupanga vous aide à optimiser la gestion de votre patrimoine immobilier.</p>
      </div>

      <!-- Carrousel d'Images -->
      <div class="auth-carousel">
        <!-- Contenu du carrousel ici -->
        <div class="auth-carousel__pagination">
          <span></span>
          <span class="active"></span>
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Colonne de Droite -->
  <div class="auth-right">
    <div class="login-page">
      <p-toast position="top-right"></p-toast>
      <div class="login-card">

        <!-- Header -->
        <header class="login-card__header">
          <h1 class="login-card__title">Bienvenue sur Kupanga</h1>
          <p class="login-card__subtitle">Connectez-vous pour continuer</p>
        </header>

        <!-- Login Form -->
        <div *ngIf="!isForgotPasswordMode" @fadeSlide class="form-container">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

            <div class="form-group">
              <label for="email" class="form-group__label">Email</label>
              <input id="email" type="text" pInputText formControlName="email" class="form-group__input"
                placeholder="Votre adresse email">
              <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                class="form-group__error">
                Email invalide ou requis.
              </small>
            </div>

            <div class="form-group">
              <label for="password" class="form-group__label">Mot de passe</label>
              <p-password id="password" formControlName="password" [toggleMask]="true" [feedback]="false"
                styleClass="p-password-full" placeholder="Votre mot de passe"></p-password>
              <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                class="form-group__error">
                Mot de passe requis.
              </small>
            </div>

            <div class="login-card__actions">
              <div class="actions__remember-me">
                <p-checkbox id="rememberme" [binary]="true"></p-checkbox>
                <label for="rememberme">Se souvenir de moi</label>
              </div>
              <a (click)="toggleMode()" class="actions__link">Mot de passe oublié ?</a>
            </div>


            <p-button label="Se connecter" type="submit" [loading]="isLoading" styleClass="p-button-full"></p-button>

            <footer class="login-card__footer">
              <span>Pas encore de compte ? </span>
              <a routerLink="/auth/register" class="footer__link">Créer un compte</a>
            </footer>
          </form>
        </div>

        <!-- Forgot Password Form -->
        <div *ngIf="isForgotPasswordMode" @fadeSlide class="form-container">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onForgotPassword()">
            <div class="form-group">
              <label for="forgot-email" class="form-group__label">Email</label>
              <input pInputText id="forgot-email" type="email" formControlName="email" class="form-group__input"
                placeholder="votre@email.com" />
              <small class="form-group__error"
                *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
                L'email est requis et doit être valide.
              </small>
            </div>

            <p-button label="Réinitialiser" type="submit" [loading]="isLoading"
              styleClass="p-button-full mb-3"></p-button>

            <footer class="login-card__footer">
              <a (click)="toggleMode()" class="footer__link">Retour à la connexion</a>
            </footer>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
