<div class="profile-home" *ngIf="user()">
  <div class="profile-header">
    <div class="user-info">
      <img [src]="userPhoto()" alt="User Photo" class="user-photo">
      <h2>{{ user()?.firstName }}</h2>
    </div>
    <button mat-stroked-button type="button">Modifier</button>
  </div>

  <div class="profile-content">
    <div class="card-container" (click)="showSpacesModal()">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>group</mat-icon>
          <mat-card-title>Profil &amp; Espaces</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Modifier mon profil public et accéder à mes espaces.
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container" [routerLink]="['/account/settings']">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>settings</mat-icon>
          <mat-card-title>Paramètres</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Compléter les informations privées et les préférences.
        </mat-card-content>
      </mat-card>
    </div>

    <div class="card-container">
      <mat-card>
        <mat-card-header>
          <mat-icon mat-card-avatar>help_outline</mat-icon>
          <mat-card-title>Aide</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          Accéder à l'aide ou au support utilisateur.
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <button mat-raised-button color="warn" type="button">Me déconnecter</button>
</div>

<app-profile-spaces-modal [(display)]="displaySpacesModal"></app-profile-spaces-modal>
