:host {
  display: block;
}

.profile-home {
  max-width: 900px;
  margin: 0 auto;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  .user-info {
    display: flex;
    align-items: center;

    .user-photo {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-right: 1.5rem;
      object-fit: cover;
    }

    h2 {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.profile-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;

  .card-container {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 100%;


    &:hover {
      transform: translateY(-5px);
    }

    .p-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 0;
    }

    .p-card-header i {
      font-size: 1.75rem !important;
      margin: 1rem auto;
      display: block;
      text-align: center;
    }
  }
}

.p-button-danger {
  display: block;
  margin-left: auto;
}
