<div class="ml-layout">
  <header class="ml-header">
    <nav class="ml-nav container">
      <div class="ml-logo">Kupanga</div>
      <div>
        <p-button label="Se connecter" icon="pi pi-user" routerLink="/auth/login" [rounded]="true" />
      </div>
    </nav>
  </header>

  <main class="ml-main container">
    <div class="ml-hero-section">
      <div class="ml-hero-content">
        <h1 class="ml-title">Welcome to Kupanga</h1>
        <p class="ml-subtitle">Your modern solution for property management.</p>
      </div>
    </div>

    <div class="ml-cta-section">
      <div class="ml-cta-content">
        <p class="ml-cta-text">C’est le moment de vendre</p>
        <p-button label="Déposer une annonce" icon="pi pi-plus-circle" routerLink="/deposer-une-annonce" styleClass="p-button-lg" [rounded]="true" />
      </div>
    </div>

    <router-outlet></router-outlet>
  </main>

  <footer class="ml-footer">
    <p>&copy; 2024 Kupanga. All rights reserved.</p>
  </footer>
</div>
