@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

/* PrimeNG Theme Overrides */
:root {
  --primary-color: #9448941a; /* Bleu profond */
  --primary-color-text: #ffffff;
  --secondary-color: #944894; /* Vert émeraude */
}

body {
  @apply text-slate-900; /* Utilisation de Tailwind sur le body */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
