/* Custom component styles can be imported here if needed */
@use "assets/styles/components/index";

/* PrimeIcons */
@import "primeicons/primeicons.css";

/* Global Reset & Typography */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--p-text-color);
  background-color: var(--p-surface-ground); /* PrimeNG variable for page background */
}
