:host {
  display: block;
}

.pnh-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--p-surface-0);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.pnh-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

.pnh-main-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
}

.pnh-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--p-text-color);
}

.pnh-center-content {
  display: none;
  width: 100%;


  @media (min-width: 768px) {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 2rem;
  }
}

.pnh-search-bar {
  width: 100%;
  max-width: 400px;

  ::ng-deep .p-inputtext {
    border-radius: 10rem;
  }

  .w-full {
    width: 100%;
  }
}

.pnh-right-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pnh-user-menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin-left: 0.5rem;
}

.pnh-nav-bar {
  border-top: 1px solid var(--p-surface-200);
  background-color: var(--p-surface-0);
}

/* Override PrimeNG Menubar styles to make it flat */
::ng-deep .pnh-menubar {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;

  .p-menubar-root-list {
    padding-left: 0;
  }
}
