<div class="card">
  <div class="card-h">
    <span class="t">Actions rapides</span>
  </div>

  @for (action of actions(); track action.label) {
    <button class="action-row" [class.danger]="action.danger" (click)="actionCliquee.emit(action)">
      <div class="ic">
        <kp-icon [name]="action.icon" [size]="16" />
      </div>
      <div class="body">
        <div class="t">{{ action.label }}</div>
        <div class="s">{{ action.sousTitre }}</div>
      </div>
      <span class="chev">
        <kp-icon name="chevron-right" [size]="14" />
      </span>
    </button>
  }
</div>
